<template>
    <div class="resource-editor-container">
        <form @submit.prevent="addProject"
              @keydown.esc="emitClose">
            <div class="resource-editor">
                <div class="color-toggle-editor">
                    <span class="color-icon"></span>
                </div>
                <div>
                    <input v-model="project.title" type="text" class="project-title" />
                </div>
            </div>
            <div class="action-button">
                <button type="submit" @click="emitClose()" class="add-btn">Add Project</button>
                <a href="#" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>
</template>

<script>

export default {
    data() {
        return {
            project: {
                title: "",
                color: "",
                completed: false
            },
            projectList: [
                {title: 'AAA', color: '5CB0FF', completed: false},
                {title: 'BBB', color: 'FF5C8F', completed: false},
                {title: 'CCC', color: '7CFF5C', completed: false}
            ]
        }
    },
    computed: {

    },
    methods: {
        
        emitClose() {

        }


    }
    

}
</script>

<style>

</style>