.app {
	box-sizing: border-box;
}

.top-bar-inner {
	padding-left: 35px;
}


.top-bar h1 {
	color: white;
	line-height: 43px;
	font-size: 20px;
	font-weight: 900;
}


.view-list-container {
	background-color: white;
}

.view-list-container>a {
	display: block;
	padding: 10px;
}

.left-menu .view-list-container .icon
, .left-menu .add-project .add-icon {
	font-size: 24px;
	width: 20px;
	text-align: center;
	display: inline-block;
}

.left-menu .view-list-container .icon {
	margin-right: 10px;
}

.left-menu .view-list-container i {
	font-size: 20px;
	margin-right: 10px;
}

.view-list-container .is_selected,
.resources-list-container .is_selected {
	background-color: white;
}

.left-menu .view-link span,
.left-menu .add-project span,
.add-task-container span
{
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	vertical-align: middle;
}

.resources-list-container .resource-item>span {
	display: inline-block;
	vertical-align: middle;
}

.resources-list-container .resource-item .dragable-holder {
	font-size: 14px;
}

.resources-list-container .resource-item .options-holder {
	font-size: 14px;
}

.resources-list-container .resource-item .options-holder {
	font-size: 14px;
}

.resources-list-container .resource-item .icon-holder {
	margin-left: 8px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.tabs-container {
	margin-top: 20px;
}


.left-menu .tabs-container .tab {
	border-bottom: 1px solid #E6E2DB;
	color: #E6E2DB;
	font-size: 13px;
	display: inline-block;
	width: 33%;
	padding: 10px 15px;
	text-align: center;
}

.left-menu .tabs-container .tab.is_selected {
	border-bottom: 1px solid #6C604B;
	color: #6C604B;
}


.add-project {
	margin-top: 20px;
	color: #EC98AB;
}

.add-project {
	padding-left: 14px;
}

.add-project:hover,
.add-task-container .add-task:hover{
	cursor: pointer;
}

.left-menu .add-project:hover a,
.add-task-container .add-task:hover a{
	text-decoration: underline;
}

.add-icon,
.icon-holder {
	margin-right: 10px;
}


.all-holder .content-title {
	font-size: 25px;
}

.add-task-container {
	color: #EC98AB;
	margin-top: 10px;
}

.add-task-container .add-icon {
	font-size: 20px;
}


.resources-list-container {
	margin-top: 20px;
}

.resources-list-container .resource-item{
	position: relative;
	font-size: 14px;
}

.resources-list-container .resource-item .project-icon {
	border-radius: 10px;
	width: 10px;
	height: 10px;
	display: block;
}

.resources-list-container .resource-item .text-holder,
.resources-list-container .resource-item .dropdown-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.resources-list-container .resource-item .dropdown-container {
	position: absolute;
	right: 0px;
	width: 30px;
	text-align: center;
}

.resources-list-container .resource-item .dragable-holder>i {
	transform: scale(0.75, 1);
}

.options-holder {
	width: 10px;
}

.resources-list-container .resource-item:hover {
	cursor: pointer;
	background-color: white;
}

.resources-list-container .resource-item:hover .dragable-holder,
.resources-list-container .resource-item:hover .dropdown-container {
	visibility: visible;
}

.resources-list-container .resource-item .dragable-holder,
.resources-list-container .resource-item .dropdown-container {
	visibility: hidden;
}







.resource-editor-container {
	font-size: 14px;
	line-height: 28px;
}

.resource-editor-container .resource-editor {
	border: 1px solid gray;
	padding: 2px;
	background-color: white;
	margin-bottom: 5px;
}

.resource-editor-container .resource-editor>div {
	display: inline-block;
	vertical-align: middle;
}

.resource-editor-container .resource-editor .color-toggle-editor {
	padding: 5px;
	
}

.resource-editor-container .resource-editor .color-icon {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #db4c3f;
	border-radius: 5px;
}

.resource-editor-container .resource-editor .project-title {
	border: none;
}

.resource-editor-container .action-button {
	font-size: 13px;
	line-height: 26px;
}

.resource-editor-container .action-button .add-btn {
	background-color: #db4c3f;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px 12px 8px 12px;
	
}

.resource-editor-container .action-button .cancel-btn {
	margin-left: 5px;
}

.resource-editor-container .action-button .cancel-btn:hover {
	text-decoration: underline;
}