
.page-background {
	height: 100vh;
	background-color: #fafafa;
}

.top-bar {
	height: 43px;
	width: 100%;
	background-color: #D03C25;
	border-bottom: 1px solid red;

}

.all-holder, .top-bar-inner {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.left-menu {
	width: 30%;
	padding-left: 35px;
	padding-right: 20px;
}

.all-holder .content {
	width: 70%;
	color: #303333;
	font-weight: lighter;
}

.left-menu, .content {
	display: inline-block;
	vertical-align: middle;
	height: 100vh;
	padding-top: 40px;
}


/* Prep */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, button {
	font-family: 'Open Sans', sans-serif;
}
