<template>
<div class="tabs-container">
    <div class="tab is_selected">Projects</div>
    <div class="tab">Labels</div>
    <div class="tab">Filters</div>
</div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style>

</style>