<template>
<div>
    <ul class="resource-list">

        <project-editor v-if="isBeingEditable"
    
        ></project-editor>
        <template v-else
        >
            <li v-for="project in projectList" :key="project.title"
                class="resource-item">
                <span class="dragable-holder">
                    <i class="fas fa-bars"></i>
                </span>
                <span class="icon-holder">
                    <span class="project-icon" 
                        v-bind:style="{'background-color': '#' + project.color}"></span>
                </span>
                <span class="text-holder">
                    <span class="project-title">{{ project.title }}</span>
                </span>
                <span class="dropdown-container">
                    <span class="dropdown-toggle">
                        <i class="fas fa-ellipsis-h"></i>
                    </span>
                </span>
            </li>
        </template>
    </ul>
    <div class="add-project">
        <span class="add-icon">
            +
        </span>
        <span>
            <a href="#">Add Project</a>
        </span>
    </div>

</div>
</template>

<script>

    // const ProjectListKey = 'tudo-app'

export default {
    data() {
        return {
            project: {
                title: "",
                color: "",
                completed: false
            },
            projectList: [
                {title: 'AAA', color: '5CB0FF', completed: false},
                {title: 'BBB', color: 'FF5C8F', completed: false},
                {title: 'CCC', color: '7CFF5C', completed: false}
            ],
            isBeingEditable: false
        }
    },
    computed: {
        getProjects() {
            return this.projectList
        }
    },
    methods: {
        addProject() {
            // eslint-disable-next-line no-debugger
            debugger;
            this.projectList.push({
                title: this.project.title,
                color: (this.project.color == '')? 'FFFF00' : this.project.color
            })

            // localStorage.setItem(ProjectListKey, JSON.stringify(this.projectList))
        },
        emitClose() {

        }


    }
    

}
</script>

<style>

</style>