<template>

    <a class="view-link is_selected" href="">
        <span class="icon">
        <i class="far fa-envelope"></i>
        </span>
        <span class="label">
        Inbox
        </span>
    </a>

</template>

<script>

export default {
    data() {
        return {
        }
    }

}
</script>

<style>

</style>