<template>
  <div id="app">
    <div class="page-background">
      <section class="top-bar">
        <div class="top-bar-inner">
          <h1> {{ title }} </h1>
        </div>
      </section>
      <section class="all-holder">
        <div class="left-menu">
          <div class="view-list-container">
            <view-list></view-list>
          </div>
          

          <div>
            <category-tabs></category-tabs>
            <div class="resources-list-container">

              <project-list></project-list>


              


            </div>

          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>test</h1>
            
          </div>
            

          <ul></ul>

          <div class="add-task-container">
            <div class="add-task">
              <span class="add-icon">+</span>
              <span>
                <a href="#">Add Task</a>
              </span>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</template>

<script>
  import ViewList from './components/view_list.vue'
  import CategoryTabs from './components/category-tabs.vue'
  import ProjectList from './components/project-list.vue'
  export default {
    data: function () {
      return  {
        title: 'TODU'
      }
    }, 
    computed: {
      
    },
    components: {
      ViewList,
      CategoryTabs,
      ProjectList
    }
  }
</script>

<style>


</style>
